<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/lauri/IdeaProjects/MYFIRSTPROJECT/src">
        <classes>
            <class name="Tests.ejecutarpruebasbasico">
                <methods>
                    <include name="pruebainicial"/>
                    <include name="pruebados"/>
                    <include name="pruebatres"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>